body{
	background-color: orange;
	margin-left: 20px;
	margin-right: 20px;
}
.header{
	padding-top: 1px;
	margin-top: 5px;
	background-color: white;
}
.main_heading{
	margin-top: 100px;
	margin-bottom: 30px;
}

.display{
	display: inline-block;
}
.navbar{
	border: 2px solid black;
	background-color: #333333;
}
.list_nav{
	margin:0px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.white{
	color: white;
	text-decoration: none;
	padding: 10px;
}
.content{
	background-color: white;
	width: 70%;
	margin-top: 15px;
	padding: 10px;
	/*height: 500px;*/
	float: left;
}
.sidebar{
	float: right;
	background-color: white;
	width: 25%;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
}
.sidepost{
	margin-top: 15px;
	float: right;
	width:25%;
	background-color: white;
	padding-left: 19px;
}
.block{
	display: block;
	margin:10px;
	height: 200px;
	width: 300px;
}
.footer{
	/*padding: 20px;*/
  /*text-align: center;*/
  background: #ddd;
  margin-top: 20px;
	/*background-color: grey;*/
	/*display: block;*/
	position: absolute;
   left: 10;
   top: 195%;
   width: 97.4%;
   /*background-color: red;*/
   color: white;
   text-align: center;
}